[AutoRun]
enabled=false
program=

[BitTorrent]
Session\CreateTorrentSubfolder=true
Session\DisableAutoTMMByDefault=true
Session\DisableAutoTMMTriggers\CategoryChanged=false
Session\DisableAutoTMMTriggers\CategorySavePathChanged=false
Session\DisableAutoTMMTriggers\DefaultSavePathChanged=false

[Core]
AutoDeleteAddedTorrentFile=Never

[Preferences]
Bittorrent\AddTrackers=false
Bittorrent\MaxConnecs=10000
Bittorrent\MaxRatioAction=0
Bittorrent\PeX=true
Connection\GlobalDLLimitAlt=10
Connection\GlobalUPLimitAlt=10
Downloads\PreAllocation=false
Downloads\SavePath=/home/qbittorrent/rcc-uploads/
Downloads\ScanDirs=/home/qbittorrent/watch{{item}}/
Downloads\ScanDirsV2=@Variant(\0\0\0\x1c\0\0\0\x1\0\0\0\x32\0/\0h\0o\0m\0\x65\0/\0q\0\x62\0i\0t\0t\0o\0r\0r\0\x65\0n\0t\0/\0w\0\x61\0t\0\x63\0h\0\{{ vars['qbt_watch1_' + (item | string) ] }}\0\{{ vars['qbt_watch2_' + (item | string) ] }}\0\0\0\x2\0\0\0\0)
Downloads\DownloadInScanDirs=0
Downloads\StartInPause=false
Downloads\TempPath=/home/qbittorrent/data{{ item }}/
Downloads\TempPathEnabled=false
Downloads\TorrentExportDir=/home/qbittorrent/torrents{{ item }}/
DynDNS\DomainName=changeme.dyndns.org
DynDNS\Enabled=false
DynDNS\Password=
DynDNS\Service=0
DynDNS\Username=
General\Locale=
General\UseRandomPort=false
MailNotification\email=
MailNotification\enabled=false
MailNotification\password=
MailNotification\req_auth=true
MailNotification\req_ssl=false
MailNotification\sender=qBittorrent_notification@example.com
MailNotification\smtp_server=smtp.changeme.com
MailNotification\username=
Queueing\MaxActiveDownloads=300
Queueing\MaxActiveTorrents=600
Queueing\MaxActiveUploads=300
WebUI\Address=*
WebUI\AlternativeUIEnabled=false
WebUI\AuthSubnetWhitelist=@Invalid()
WebUI\AuthSubnetWhitelistEnabled=false
WebUI\CSRFProtection=true
WebUI\ClickjackingProtection=true
WebUI\HTTPS\Enabled=false
WebUI\HostHeaderValidation=true
WebUI\LocalHostAuth=true
WebUI\Password_ha1=@ByteArray(76d1d0f3b11456b675b928353f6cd499)
WebUI\Port=80{{item}}
WebUI\RootFolder=
WebUI\ServerDomains=*
WebUI\UseUPnP=true
WebUI\Username=wings
