[Unit]
Description=qBittorrent instance {{ item }}
After=network.target

[Service]
Type=forking
User=qbittorrent
Group=qbittorrent
UMask=002
ExecStart=/usr/bin/qbittorrent-nox -d --webui-port=80{{ item }} --configuration={{ item }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
